snippet inc "#include local header (inc)"
#include "${1:`!p snip.rv = snip.basename + '.hh'`}"
endsnippet

snippet Inc "#include <> (Inc)"
#include <${1:.hh}>
endsnippet

snippet cl "class .. (class)"
class ${1:`!p snip.rv = snip.basename or "name"`}
{
public:
	${1/(\w+).*/$1/}(${2:arguments});
	~${1/(\w+).*/$1/}();

private:
	${0:/* data */}
};
endsnippet
